.container {
  height: 100%;
  .title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

  }
  .toolbar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#vacation-modal {
  min-width: 580px;
  min-height: 580px;
  top: 50% !important;
  .md-dialog-content {
    min-height: 500px;
  }
}

.rbc-events-container {
  display: grid;
  grid-template-rows: repeat(24, 40px);
}

.rbc-day-slot .rbc-event {
  position: static;
}

.rbc-day-slot .rbc-event--global {
  background-color: #fbab18;
}

.rbc-day-slot .rbc-event--regional {
  background-color: #6ebe4a;
}
