.transactions-page {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;

  &__controls {
    display: flex;

    #create-user-modal {
      min-width: 580px;
      min-height: 580px;
      top: 50% !important;
    }
    button {
      margin-right: 10px;
    }
  }
}