.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    .name {
        font-size: 16px;
        font-weight: bold;
    }
    .company {
        font-size: 12px;
        color: rgb(150, 25, 25);
    }
    .role {
        font-size: 12px;
        color: rgb(100, 112, 123);
    }
    .account {
        margin-top: 10px;
        span {
            font-weight: bold;
        }
    }
    .account-company {
        margin-bottom: 10px;
        span {
            font-weight: bold;
        }
    }
}